%tpl%.aiin-ctar {
	position:relative;
	box-sizing:content-box;
	display:inline-block;
	font-family:Helvetica, Arial, "hiragino kaku gothic pro",meiryo, "ms pgothic", sans-serif;
	color:#fff;
	background:#4267b2;
	border-radius:12px;
	cursor:pointer;
	user-select:none;
}
%tpl% .aiin-inner {
	margin:9px 48px;
	text-align:center;
}
%tpl% .aiin-cy,
%tpl% .aiin-icon {
	vertical-align:middle;
}
%tpl% .aiin-icon {
	margin-right:18px;
}
%tpl% .aiin-cy {
	font-size:57px;
}
