%tpl%.aiin-ctar {
	position:relative;
	box-sizing:content-box;
	display:inline-block;
	font-family:Helvetica, Arial, "hiragino kaku gothic pro",meiryo, "ms pgothic", sans-serif;
	color:#888;
	background:transparent;
	border-radius:5px;
	cursor:pointer;
	user-select:none;
}
%tpl% .aiin-inner {
	margin:4px 21px;
	text-align:center;
}
%tpl% .aiin-cy,
%tpl% .aiin-icon {
	vertical-align:middle;
}
%tpl% .aiin-icon {
	margin-right:8px;
}
%tpl% .aiin-cy {
	font-size:25px;
}
